.film {
  height: 290px;
  width: 530px;
  background-repeat: no-repeat;
}


@media (max-width: 1200px){
  .film {
    height: 240px;
  }
}
@media (max-width: 990px){
  .film {
    height: 175px;
  }
}
@media (max-width: 767px){
  .film {
    height: 125px;
  }
}
@media (max-width: 415px){
  .film {
    height: 93px;
  }
}
@media (max-width: 400px){
  .film {
    height: 90px;
  }
}

#bottone_voto {
  margin: 0px 0px 0px 0px;
}


#box_film {
  text-align:center;

}

#box_principale {

  background:#16151a;
  text-align:center;

}

#immagini_film {
  text-align:center;
  margin: -2% -10% 0% -8%;

}

table#table1 {
  width:80%;
  margin-left:15%;
  margin-right:15%;
}

#tabella {
  text-align:center;

}

#box_scelta{
  background:#16151a;
}

#bottone{
  text-align:center;
  margin: 0% 0% 0% 1%;
  width: 20%;
}

#box_bottone_scelta{

  text-align:center;
}

#bottone_genera{
  text-align:center;
  margin: 0% 0% 0% 5%;
  width: 20%;
}
