BackendDotnet/src/FilmComments.Core/obj/Debug/
BackendDotnet/src/FilmComments.DB/obj/Debug/
BackendDotnet/src/FilmComments.RestAPIs/obj/Debug/

BackendDotnet/.vs/film-comments-service/v16/.suo
BackendSpring/.idea
