BackendDotnet/src/FilmComments.Core/obj/Debug/net5.0/FilmComments.Core.GeneratedMSBuildEditorConfig.editorconfig

BackendDotnet/src/FilmComments.DB/obj/Debug/net5.0/FilmComments.DB.assets.cache
BackendDotnet/src/FilmComments.DB/obj/Debug/net5.0/FilmComments.DB.csproj.AssemblyReference.cache
BackendDotnet/src/FilmComments.DB/obj/Debug/net5.0/FilmComments.DB.GeneratedMSBuildEditorConfig.editorconfig
