BackendDotnet/src/FilmComments.Core/obj/Debug/
BackendDotnet/src/FilmComments.DB/obj/Debug/
BackendDotnet/src/FilmComments.RestAPIs/obj/Debug/

BackendDotnet/.vs/film-comments-service/v16/.suo
BackendSpring/.idea
BackendDotnet/.vs/film-comments-service/config/applicationhost.config
.gitignore
BackendDotnet/src/FilmComments.Core/bin/Debug/net5.0/FilmComments.Core.pdb
BackendDotnet/src/FilmComments.Core/obj/FilmComments.Core.csproj.nuget.dgspec.json
BackendDotnet/src/FilmComments.Core/obj/FilmComments.Core.csproj.nuget.g.props
BackendDotnet/src/FilmComments.Core/obj/FilmComments.Core.csproj.nuget.g.targets
BackendDotnet/src/FilmComments.Core/obj/project.assets.json
BackendDotnet/src/FilmComments.Core/obj/project.nuget.cache
BackendDotnet/src/FilmComments.Core/obj/Debug/net5.0/FilmComments.Core.assets.cache
BackendDotnet/src/FilmComments.Core/obj/Debug/net5.0/FilmComments.Core.csproj.AssemblyReference.cache
BackendDotnet/src/FilmComments.Core/obj/Debug/net5.0/FilmComments.Core.csproj.FileListAbsolute.txt
.gitignore
BackendDotnet/src/FilmComments.Core/obj/Debug/net5.0/FilmComments.Core.GeneratedMSBuildEditorConfig.editorconfig
BackendDotnet/src/FilmComments.Core/obj/Debug/net5.0/FilmComments.Core.pdb
BackendDotnet/src/FilmComments.DB/bin/Debug/net5.0/FilmComments.Core.dll
BackendDotnet/src/FilmComments.DB/bin/Debug/net5.0/FilmComments.Core.pdb
BackendDotnet/src/FilmComments.DB/bin/Debug/net5.0/FilmComments.DB.dll
BackendDotnet/src/FilmComments.DB/bin/Debug/net5.0/FilmComments.DB.pdb
BackendDotnet/src/FilmComments.DB/bin/Debug/net5.0/FilmComments.DB.runtimeconfig.dev.json
BackendDotnet/src/FilmComments.DB/obj/FilmComments.DB.csproj.nuget.dgspec.json
BackendDotnet/src/FilmComments.DB/obj/FilmComments.DB.csproj.nuget.g.props
BackendDotnet/src/FilmComments.DB/obj/FilmComments.DB.csproj.nuget.g.targets
BackendDotnet/src/FilmComments.DB/obj/project.assets.json
BackendDotnet/src/FilmComments.DB/obj/project.nuget.cache
BackendDotnet/src/FilmComments.DB/obj/Debug/net5.0/FilmComments.DB.assets.cache
BackendDotnet/src/FilmComments.DB/obj/Debug/net5.0/FilmComments.DB.csproj.AssemblyReference.cache
BackendDotnet/src/FilmComments.DB/obj/Debug/net5.0/FilmComments.DB.csproj.CoreCompileInputs.cache
BackendDotnet/src/FilmComments.DB/obj/Debug/net5.0/FilmComments.DB.csproj.FileListAbsolute.txt
BackendDotnet/src/FilmComments.DB/obj/Debug/net5.0/FilmComments.DB.dll
BackendDotnet/src/FilmComments.DB/obj/Debug/net5.0/FilmComments.DB.GeneratedMSBuildEditorConfig.editorconfig
BackendDotnet/src/FilmComments.DB/obj/Debug/net5.0/FilmComments.DB.genruntimeconfig.cache
BackendDotnet/src/FilmComments.DB/obj/Debug/net5.0/FilmComments.DB.pdb
BackendDotnet/src/FilmComments.RestAPIs/bin/Debug/net5.0/FilmComments.Core.dll
.gitignore
BackendDotnet/src/FilmComments.RestAPIs/bin/Debug/net5.0/FilmComments.DB.dll
BackendDotnet/src/FilmComments.RestAPIs/bin/Debug/net5.0/FilmComments.DB.pdb
BackendDotnet/src/FilmComments.RestAPIs/bin/Debug/net5.0/FilmComments.RestAPIs.dll
BackendDotnet/src/FilmComments.RestAPIs/bin/Debug/net5.0/FilmComments.RestAPIs.exe
BackendDotnet/src/FilmComments.RestAPIs/bin/Debug/net5.0/FilmComments.RestAPIs.pdb
BackendDotnet/src/FilmComments.RestAPIs/bin/Debug/net5.0/FilmComments.RestAPIs.runtimeconfig.dev.json
BackendDotnet/src/FilmComments.RestAPIs/obj/FilmComments.RestAPIs.csproj.nuget.dgspec.json
BackendDotnet/src/FilmComments.RestAPIs/obj/FilmComments.RestAPIs.csproj.nuget.g.props
BackendDotnet/src/FilmComments.RestAPIs/obj/FilmComments.RestAPIs.csproj.nuget.g.targets
BackendDotnet/src/FilmComments.RestAPIs/obj/project.assets.json
.gitignore
BackendDotnet/src/FilmComments.RestAPIs/obj/Debug/net5.0/apphost.exe
BackendDotnet/src/FilmComments.RestAPIs/obj/Debug/net5.0/FilmComments.RestAPIs.assets.cache
BackendDotnet/src/FilmComments.RestAPIs/obj/Debug/net5.0/FilmComments.RestAPIs.csproj.AssemblyReference.cache
BackendDotnet/src/FilmComments.RestAPIs/obj/Debug/net5.0/FilmComments.RestAPIs.csproj.CoreCompileInputs.cache
BackendDotnet/src/FilmComments.RestAPIs/obj/Debug/net5.0/FilmComments.RestAPIs.csproj.FileListAbsolute.txt
BackendDotnet/src/FilmComments.RestAPIs/obj/Debug/net5.0/FilmComments.RestAPIs.dll
BackendDotnet/src/FilmComments.RestAPIs/obj/Debug/net5.0/FilmComments.RestAPIs.GeneratedMSBuildEditorConfig.editorconfig
BackendDotnet/src/FilmComments.RestAPIs/obj/Debug/net5.0/FilmComments.RestAPIs.genruntimeconfig.cache
.gitignore
