<div class=" py-5 h-100 justify-content-center align-items-center " *ngIf="isLoggedIn()">
  <div class="card text-black" style="border-radius: 1rem;">
    <div class="p-5 text-center">
      <div>
        <div class="text-center">
          <label class="form-label">Ciao {{getUsername()}}! Vuoi gia' uscire?</label>
          <label class="form-label acp">Ruolo: {{getRole()}}</label>
        </div>
        <div id="bottone" class=" text-center logout">
          <button type="button" class="btn btn-outline-dark btn-lg px-5" type="submit" (click)='logout()'>Log
            Out</button>
        </div>
      </div>
    </div>
  </div>
</div>
