/*
#overlay {
  position: fixed;  Sit on top of the page content
  display: none;  Hidden by default
  width: 100%;  Full width (cover the whole page)
  height: 100%;  Full height (cover the whole page)
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements

}
.box-pages{
  width: 30%;

  background-size: 200%;
  background-color:white;
  position: center;
  margin-left: 35%;
  margin-top: 25%;
}
*/
#contenitori{
  width: 90%;

}

#overlay{
  text-align:center;
  background:#16151a;
}

#bottone{
  width: 15%;
}
