<div class="wrapper" *ngIf="!(isLoggedIn)">
  <div class="form">
    <div class="title">
      Login To The Net Fish
    </div>
    <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
      <div class="input_wrap">
        <label for="username">Username</label>
        <div class="input_field">
          <input type="text" class="input" id="input_username" name="username" [(ngModel)]="form.username"
            #username="ngModel" required />
          <div *ngIf="f.submitted && username.invalid">
            <div *ngIf="username.errors.required">Username is required</div>
          </div>
        </div>
      </div>
      <div class="input_wrap">
        <label for="password">Password</label>
        <input class="input" id="input_password" name="password" [(ngModel)]="form.password" #password="ngModel"
          required minlength="6" [type]="showPasswordOnPress ? 'text' : 'password'">

        <div (mousedown)="showPasswordOnPress = !showPasswordOnPress"
          (mouseup)="showPasswordOnPress = !showPasswordOnPress" class="pointer">
          <i alt="show" class="fas fa-eye eye-show" [class.hide]="showPasswordOnPress"></i>
          <i alt="hide" class="fas fa-eye-slash eye-hide" [class.hide]="!showPasswordOnPress"></i>
        </div>
        <div *ngIf="f.submitted && password.invalid">
          <div *ngIf="password.errors.required">Password is required</div>
          <div *ngIf="password.errors.minlength">Password must be at least 6 characters</div>
        </div>
      </div>
      <div *ngIf="f.submitted && isLoginFailed" class="alert alert-danger">
        Login failed: {{errorMessage}}
      </div>
      <table>
        <tr class="input_wrap">
          <td>
            <button class="btn btn-outline-dark btn-lg px-5" id="login">Login</button>
          </td>
          <td>
            <button type="button" class="btn btn-outline-dark btn-lg " [routerLink]="['/register']">SignUp</button>
          </td>
        </tr>
      </table>
    </form>
  </div>
</div>
<div class=" py-5 h-100 justify-content-center align-items-center " *ngIf="isLoggedIn">
  <div class="card  text-black" style="border-radius: 1rem;">
    <div class="p-5 text-center">
      <div>
        <div class="text-center" *ngIf="tokenStorage.getRole() == 'ROLE_USER'">
          <label class="form-label">Ciao {{tokenStorage.getUsername()}}! Vuoi gia' uscire?</label>
          <label class="form-label acp">Ruolo: USER</label>
        </div>
        <div class="text-center" *ngIf="tokenStorage.getRole() == 'ROLE_ADMIN'">
          <label class="form-label">Ciao {{tokenStorage.getUsername()}}! Vuoi gia' uscire?</label>
          <label class="form-label acp">Ruolo: ADMIN</label>
        </div>
        <div class="text-center" *ngIf="tokenStorage.getRole() == 'ROLE_PM'">
          <label class="form-label">Ciao {{tokenStorage.getUsername()}}! Vuoi gia' uscire?</label>
          <label class="form-label acp">Ruolo: PM</label>
        </div>
        <div id="bottone" class=" text-center logout">
          <button type="button" class="btn btn-outline-dark btn-lg px-5" type="submit" (click)='logout()'>Log
            Out</button>
        </div>
      </div>
    </div>
  </div>
</div>
