<div *ngIf="isSignedUp; else signupForm">
  Your registration is successful. Please login!
</div>

<ng-template #signupForm>
  <div class="row col-sm-6 wrapper box-pages" style="max-width:350px;">
    <form class ="form"name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
      <div class="title">
        Register To The Net Fish
      </div>
      <div class="input_wrap">
        <label for="username">Username</label>
        <div class="input_field">
          <input type="text" class="input" name="username" [(ngModel)]="form.username" #username="ngModel"
            required />
        </div>
        <div *ngIf="f.submitted && username.invalid">
          <div *ngIf="username.errors.required">Username is required</div>
        </div>
      </div>
      <div class="input_wrap">
        <label for="name">Your name</label>
        <div class="input_field">
          <input type="text" class="input" name="name" [(ngModel)]="form.name" #name="ngModel" required />
          <div *ngIf="f.submitted && name.invalid">
            <div *ngIf="name.errors.required">Name is required</div>
          </div>
        </div>
      </div>
      <div class="input_wrap">
        <label for="email">Email</label>
        <div class="input_field">
          <input type="text" class="input" name="email" [(ngModel)]="form.email" #email="ngModel" required
            email />
          <div *ngIf="f.submitted && email.invalid">
            <div *ngIf="email.errors.required">Email is required</div>
            <div *ngIf="email.errors.email">Email must be a valid email address</div>
          </div>
        </div>
      </div>
      <div class="input_wrap">
        <label for="password">Password</label>
        <div class="input_field">
          <input type="password" class="input" name="password" [(ngModel)]="form.password" #password="ngModel"
            required minlength="6" />
        </div>
        <div *ngIf="f.submitted && password.invalid">
          <div *ngIf="password.errors.required">Password is required</div>
          <div *ngIf="password.errors.minlength">Password must be at least 6 characters</div>
        </div>
      </div>
      <div class="text-center">
        <button class="btn btn-outline-dark btn-lg px-5" id="register">Register</button>
        <div *ngIf="f.submitted && isSignUpFailed" class="alert alert-warning">
          Signup failed!<br />{{errorMessage}}
        </div>
      </div>
    </form>
  </div>
</ng-template>
