<div class="container box-pages p-5" *ngIf="moviesDataLoader">
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Title</th>
        <th scope="col">Photos</th>
        <th scope="col">Release Date</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let entry of movies; let i = index" (click)="goToMovieDatabaseDetails(entry.idmovie)" >
        <th scope="row"><h4 class="font-weight-bold">{{entry.title}}</h4> </th>
        <td><img src="https://image.tmdb.org/t/p/w200{{entry.backdrop_path}}"></td>
        <td><h4 class="font-weight-bold">{{entry.release_date | date}}</h4></td>
      </tr>
    </tbody>
  </table>
</div>
<app-loading-screen *ngIf="!moviesDataLoader"></app-loading-screen>

