<app-mustbelogged></app-mustbelogged>
<div class="container box-pages p-5" *ngIf="moviesDataLoader && (tokenStorage.isLoggedIn$ | async)">
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th class="text-center" scope="col">Title</th>
        <th class="text-center" scope="col">Photos</th>
        <th class="text-center" scope="col">votazione</th>
        <th class="text-center" scope="col">Data uscita</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let entry of orderedRatingElementLista; let i = index" (click)="goToMovieDatabaseDetails(entry.movieId)" >
        <th class="text-center" scope="row"><h4 class="font-weight-bold">{{entry.title}}</h4> </th>
        <td class="text-center"><img src="https://image.tmdb.org/t/p/w200{{entry.backdrop_path}}"></td>
        <td class="text-center"><h4 class="font-weight-bold">{{entry.voto}}</h4></td>
        <td class="text-center"><h4 class="font-weight-bold">{{entry.release_date | date}}</h4></td>
      </tr>
    </tbody>
  </table>
</div>
<app-loading-screen *ngIf="!moviesDataLoader"></app-loading-screen>

